*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    height: 100px;
}

.menu-btn{
    color: #424144;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    box-shadow: 0 0 14px black;
}

.navbar .logo h1{
    color: #424144;
    border-bottom: 4px solid red;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{ 
    margin-left: 20px;
    color: #424144;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
}

.navbar .menu li a:hover{
    color: red;
}

.product-grid{
    padding: 80px 20px;
    display: flex;
    justify-content: space-between;
}

.product-card{
    width: 380px;
    height: 500px;
    background-color: #f5f5f5;
    box-shadow: 0 10px 20px black;
    padding: 10px;
}

.product-card img{
    height: 350px;
    width: 380px;
}

.product-card h2{
    padding: 10px 130px;
}

.product-card p{
    color: rgb(20, 139, 52);
    font-size: 20px;
    font-weight: bold;
}

button{
    font-size: 13px;
    color: red;
    padding: 10px 20px;
    font-weight: 1000;
    border: 1px solid red;
    border-radius: 20px;
}

button:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}

footer{
    background-color: bisque;
    height: 10vh;
}

footer p{
    text-align: center;
    line-height: 10vh;
}
